:focus {
    outline: var(--cms-editor-focus-color) 2px solid;);
}

.space {
    display: grid;
    grid-template-columns: 17em auto;
}

.space nav {
    margin: 0;
    padding: 6px;
    width: 17em;
    height: calc(100vh - 118px);
    border-right: var(--cms-border-color) 1px solid;
}

.space .page {
    margin: 0.25em;
    padding: 0.25em;
    height: 30em;
}

.space .page h1 {
    margin: 0;
    padding: 0;
}

.treeview-navigation ul,
.treeview-navigation li {
    margin: 0;
    padding: 0;
}

.treeview-navigation li li span.label {
    padding-left: 1em;
}

.treeview-navigation li li li span.label {
    padding-left: 2em;
}

.treeview-navigation[role="tree"] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.treeview-navigation[role="tree"] li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.treeview-navigation a[role="treeitem"] ul {
    margin: 0;
    padding: 0;
}

.treeview-navigation
a[role="treeitem"][aria-expanded="false"]
+ [role="group"] {
    display: none;
}

.treeview-navigation a[role="treeitem"][aria-expanded="true"] + [role="group"] {
    display: block;
}

.treeview-navigation a[role="treeitem"] > span svg {
    transform: translate(0, 0);
}

.treeview-navigation a[role="treeitem"][aria-expanded="false"] > span svg {
    transform: rotate(270deg) translate(2px, 2px);
}

.treeview-navigation a[role="treeitem"] {
    margin: 0;
    padding: 4px;
    padding-left: 9px;
    text-decoration: none;
    color: var(--cms-editor-text-color);
    border: none;
    display: block;
}

.treeview-navigation a[role="treeitem"][aria-current] {
    border-left: 5px solid var(--cms-editor-focus-color);
    padding-left: 4px;
    background-color: var(--cms-page-heading-bg-color);
}

.treeview-navigation a[role="treeitem"] span.icon svg polygon {
    stroke-width: 2px;
    fill: currentcolor;
    stroke: transparent;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */

.treeview-navigation a[role="treeitem"]:focus {
    outline: 0;
    padding: 2px;
    padding-left: 7px;
    border: 2px var(--cms-editor-focus-color) solid;
}

.treeview-navigation a[role="treeitem"][aria-current]:focus {
    padding-left: 4px;
    border-left-width: 5px;
}

.treeview-navigation a[role="treeitem"]:hover {
    outline: 0;
    padding: 2px;
    padding-left: 7px;
    border: 2px var(--cms-editor-focus-color) solid;
}

.treeview-navigation a[role="treeitem"] span.icon:hover {
    color: #333;
}

.treeview-navigation a[role="treeitem"] span.icon svg polygon:hover {
    stroke: currentcolor;
}