button[role="switch"] {
    display: block;
    width: 12em;
    margin: 2px;
    padding: 4px;
    padding-left: 8px;
    text-align: left;
    background-color: var(--cms-menu-bg-color);
    border: 0 solid var(--cms-menu-bg-color);
    color: var(--cms-menu-fg-color);
}

button[role="switch"] svg {
    display: inline-block;
    float: right;
    width: 36px;
    height: 20px;
    forced-color-adjust: auto;
    position: relative;
    top: 4px;
}

button[role="switch"] svg rect {
    fill-opacity: 0;
    stroke: currentcolor;
}

button[role="switch"] svg rect.off {
    color: var(--cms-switch-bg-color);
    display: block;
}

button[role="switch"][aria-checked="true"] svg rect.off {
    display: none;
}

button[role="switch"] svg rect.on {
    display: none;
}

button[role="switch"][aria-checked="true"] svg rect.on {
    display: block;
    stroke: currentcolor;
    fill: currentcolor;
    fill-opacity: 1;
}

button[role="switch"] span.off {
    display: inline-block;
}

button[role="switch"] span.on {
    display: none;
}

button[role="switch"][aria-checked="true"] span.off {
    display: none;
}

button[role="switch"][aria-checked="true"] span.on {
    display: inline-block;
}

button[role="switch"]:focus,
button[role="switch"]:hover {
    padding: 2px;
    padding-left: 6px;
    border: 2px solid var(--cms-menu-focus-color);
}
