<!doctype html>
<html lang=en>
{% block head %}
<title>CMS - Login</title>
{% block css %}
<link rel="stylesheet" href="/public/css/w3.css">
<link rel="stylesheet" href="/public/css/fonts.css">
<link rel="stylesheet" href="/public/css/global.css">
<link rel="stylesheet" href="/public/css/variables.css">
<link rel="stylesheet" href="/public/css/menu.css">
<link rel="stylesheet" href="/public/css/login.css">
<!--To be able to access ARIA-->
<script src="/public/js/table.js"></script>
<script src="/public/js/login.js"></script>
{% endblock css %}
{% endblock head %}
<body>
<main>
<div class="w3-row">
    <div class="w3-login-form">
        <form action="/login" method="POST" class="w3-center w3-margin w3-login-form w3-ai-bg">
            <h1 id="page-title">Login</h1>
            <p>
                <img role="img" src="/public/images/Asset.png" aria-hidden="true" alt="CMS Platform Logo"  style="width:100px; padding:10px;">
            </p>
            <div class="w3-padding">
                <div class="w3-left w3-padding-bottom-16">
                    <label for="username">Username</label>
                </div>
                <input type="text" name="username" id="username" class="w3-input" required aria-label="Please enter your username" />
                {% if error.message %}
                {% if error.message is matching("Invalid username.") %}
                <div role="alert">
                    *{{ error.message }}
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="w3-padding">
                <div class="w3-left w3-padding-bottom-16">
                    <label for="password">Password</label>
                </div>
                <input type="password" name="password" id="password" class="w3-input" aria-label="Please enter your password" />
                {% if error.message %}
                {% if error.message is matching("Invalid password.") %}
                <div role="alert">
                    *{{ error.message }}
                </div>
                {% endif %}
                {% endif %}
            </div>

            <div class="w3-row w3-padding">
                <div class="w3-half w3-left-align">
                    <input type="checkbox" name="remember" id="remember" class="w3-checkbox" aria-label="Check this box to remember your login" />
                    <label for="remember">Remember Me</label>
                </div>
                <div class="w3-half w3-right">
                    <input type="submit" class="w3-button w3-login-button" value="Login" aria-label="Login" />

                    <a href="/home" role="button" class="w3-button w3-login-button" aria-label="Skip to content">Skip to Content</a>
                </div>
            </div>
        </form>
    </div>
</div>
</main>
<div id="arrow-keys-indicator" class="hidden"></div>

</body>
</html>