
body {
    background-color: var(--cms-menu-bg-color);
}

:focus {
    outline: var(--cms-login-focus-color) solid 2px !important;
}

.w3-login-form {
    color: var(--cms-menu-fg-color);
    width: 500px; /* Could be more or less, depending on screen size */
    padding: 16px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.w3-padding-8 {
    padding: 8px 8px;
}

.w3-padding-s {
    padding: 10px
}

.w3-button:hover {
    background-color:unset !important;
    color: var(--cms-menu-fg-color) !important;
}

.w3-login-button {
    background-color: var(--cms-menu-bg-color);
    padding: 8px 16px;
    margin: 8px 0;
    border: 1px solid #444;
    border-radius: 3px;
    cursor: pointer;
}
label {
    display: inline-block;
}

input {
    display: inline-block;
    padding: 8px 16px;
    clear: both;
}

.w3-ai-fg {
    background-color: var(--cms-page-heading-bg-color);
}

.w3-ai-bg {
    background-color: var(--cms-menu-bg-color);
}